@import "tailwindcss";
@source "./*.{templ,html,js,go}";
@plugin "daisyui";

#message {
	@apply w-full;
	> .error {
		@apply border-error border-2 p-2 rounded-md text-error;
	}
	> .success {
		@apply border-success border-2 p-2 rounded-md text-success;
	}
}
#save-status {
	.success {
		@apply badge badge-success gap-2 animate-pulse;
	}
}